/* .card-header{
    
    
} */
/* Wanted to make a hover effect for the newsfeed so that it look like its coming at the user. 
like zindex into a transform of some sort. */
/* .card-body:hover {
    color:pink;
} */
.card-body{
    position:fixed;
    visibility:hidden;
    padding:0px;
    margin:0px;
    border:0;
    height:100%;
    font-size:95%;
    
    
}
.card {
    background-color: rgb(21, 109, 112);
    margin:0;
    color:white; 
}
.card-header{
    padding:5px;
    height:100%;
    width:100%;
    margin:0;
}


