.carousel-control-next{
    right:-5%;
    position:absolute;
    top:0%;
   
}
.carousel-control-prev{
    left:-5%;
    position:absolute;
    top:0%;
}

@media  (min-width: 543px)and (max-width: 1700px) {
    .slider-container{
        height:100px
        
    }
}