.google-map {
  margin:auto;
  display:block;
  overflow:hidden;
  position:relative; 
  /* visibility:hidden;
 
  /* width:100%; */
  /* display:none;  */
}

/* #button-container{
 background-color:gray;
} */
.slider{
  height:50%;
  width:100%;
  position: relative;
  top:20%; 
  font:white;
}

#train-Button{
  position:absolute;
  right:1%;
  top:53%;
}

#trains-nearby{
  position:absolute;
  right:1%;
  top:63%;
}

#crime-nearby {
  position:absolute;
  right:1%;
  top:73%
}

#button{
  position:absolute;
  right:1%;
}


#content {
  width:460px;
  height:80px;
}

/* #content {
  position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid orange
} */
/* 
#ul {
 
  top: 0; right: 0; bottom: 0; left: 0;
  border: 15px solid orange
} */
 
/* #veiw_crime_btn{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 15px solid orange
} */

