.google-map {
  margin:auto;
  display:block;
  overflow:hidden;
  position:relative; 
  /* visibility:hidden;
 
  /* width:100%; */
  /* display:none;  */
}
.slider{
  height:50%;
  width:100%;
  position: relative;
  top:20%; 
  font:white;
}

#button{
  position:absolute;
  right:1%;
}


