    .container {
        height:100%;
        width:100%;
        display:unset;
        max-width:-8%;
        max-height: 10%;
        margin:0;
        overflow: hidden;
        max-height:10%;
        position:static;
        top:0;
    }

    .button {
      /* display:none; */
     background-color:rgb(39, 29, 129) !important;
     color:white;
    }
    .button-container {
      background-color: grey;
    }

    #f-Button{
      position:absolute;
      right:1%;
      top:13%;
    }
    #m-Button{
      position:absolute;
      right:1%;
      top:23%;
    }
    #v-Button{
      position:absolute;
      right:1%;
      top:33%;
    }

   #article-comment{
    position:absolute;
      right:1%;
      top:43%;
    }
    #train-Button{
      position:absolute;
      right:1%;
      top:53%;
    }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  /* .container:hover .overlay {
    width: 100%;
  } */
  .destination{
    display:none;
  }
  /* .slider {
    display:none;
  } */
  /* .container:hover .slider {
    visibility:hidden;
  } */
  .navigation_btn {
    float:left;
  }
  /* .container:hover .destination{
    display:none;
  } */
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
   */

